/*
    Theme: Custom Theme
    Author: Wiktor Pabich
    Author URI: http://pabich.cc
    Description: Motyw stworzony przez http://pabich.cc. W celu wykorzystania prosze o kontakt na pabichwiktor@gmail.com. Wszystkie prawa zastrzezone
    Version: 1.0
*/


/* meyer reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: Poppins;
	vertical-align: baseline;
}

:root {
    --primary: #187bcd;
    --secondary: #2a9df4;
    --bckg: #d0efff;

    --font-primary: #0a406e;
    --font-secondary: #0a406e;
};

body {
	line-height: 1;
	color: black;
    background: white;
}

a {
    color: var(--primary);
}

h2 {
    color: var(--font-primary);
}

:focus {
    outline: 0;
}